<html>
  <head>
    <link rel="stylesheet" type="text/css"
    href="http://fonts.googleapis.com/css?family=Cabin:700" /> 
    <title>Robopoly API</title>
    <style>
      body {
        font-family: 'Cabin', sans-serif;
        font-size: 18px;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to the Robopoly API</h1>

    <p>Please try some examples:<br />
    <ul>
        <li><a href="{{ people_link }}">The People API</a></li>
        <li><a href="{{ tsol_link }}">The TSOL API</a></li>
        <li><a href="{{ music_link }}">The Music API</a></li>
    </ul>
    </p>
    <hr />
    <p>We are running on {{ framework }} on {{ language }}</p>
  </body>
</html>
